.block_ {
    width: 100%;
    height: 20px;
    background-color: red;
  }
  
  .litleblock {
    width: 80%;
    height: 20px;
    background: rgb(153, 255, 0);
    position: relative;
          top: 0;
          animation: pbar    10s linear;
  }
  
  .block:hover ~ .litleblock {
          width: 400px;
          height: 20px;  
          
  }
  
.rating{
    margin-top: 30px;
}

.rating p{
    font-size: 60px;
}
#to_right{
    float: right;
}

.name_in_raiting{
    
}

.name_in_raiting h2{  
    font-size: 50px;  
    color: #777777;
}


#img_float{
    float: left;
}


.rating_small{
    margin-top: 0px;
}

.rating_small img{
    margin-left: -10px;
}

.rating_small p{
    font-size: 15px;
}
#to_right_small{
    float: right;
}

.price-info p{
    float: left;
    margin-left: 7px;
}

.price-info ins{
    float: left;
    margin-top: -8px;
    margin-left: 7px;
}

.price-info img{
    float: left;
    margin-left: -15px;
}

.block_price{
    margin-top: 15px;
}



.block_rating{
    margin-top:  15px;
}

.user-info ins {
    color: #777777;
    font-size: 30px;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
  }

 .map img{
    float:left;
  }

  .map{
      margin-bottom: 20px;
  }


.user-type{
    font-style: italic;
    font-size: 30px;
    color: rgb(190, 190, 190);
    font-size:20px;
    
}

.set_logo_rating{
    float: left;
    padding-left: -30px;
}
.set_line_rating{
    padding-top: 9px;
    padding-left: 30px;
}


.fitr{
    height: auto;
    
}


