#filming_cities_vacancy{
    font-style: italic;
    color: black;
    font-size:20px;
    margin-bottom: 10px;
}

.block_descripti{
    margin-top: 15px;
    margin-left: -12px;
}
.block_descripti img{
    float: left;
}
.block_descripti p{
    margin-left: 40px;
}






